 <!-- LARGE BANNER -->
    <div class="container">
      <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div class="col-lg-6 px-0 text-center">
          <h1 class="display-4 fst-italic">
            Welcome to Friend Zone
          </h1>
          <p class="lead my-3">
        
          </p>
         
        </div>
      </div>
    </div>
    <!-- END LARGE BANNER -->

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <!-- CREATE POST -->

          <div
            class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
          >
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-4">Create a post</h3>

              <p class="card-text mb-4">
              Let your friends know what you're up to!
              </p>
              <div class="input-group mb-3">
                <button
                  class="btn btn-outline-secondary"
                  type="button"
                  id="button-addon1"
                >
                  Post
                </button>
                <textarea
                  class="form-control"
                  placeholder=""
                  aria-label="Example text with button addon"
                  aria-describedby="button-addon1"
                  rows="1"
                ></textarea>
              </div>
            </div>
            <div class="col-auto d-none d-lg-block"></div>
          </div>

          <!-- END CREATE POST -->
        
          <!-- CARD -->
{{#each posts}}
          <div
            class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
          >
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-4">{{this.User.username}}</h3>

              <p class="card-text mb-4">
                {{this.content}}
              </p>
              {{#if this.comment}}
              {{#each comment}}
              <div class="mb-1 text-body-secondary">Comments:</div>
              <div class="card mb-2">
                <div class="card-body">
                  <h6>{{friend.username}}</h6>
                  {{this.commentContent}}
                </div>
              </div>
              {{/each}}
               {{/if}}
              <div class="input-group mb-3">
                <textarea
                  class="form-control"
                  placeholder=""
                  aria-label="Example text with button addon"
                  aria-describedby="button-addon1"
                  rows="1"
                ></textarea>
                <button
                  class="btn btn-outline-secondary"
                  type="button"
                  id="button-addon2"
                >
                  Comment
                </button>
              </div>
            </div>
            <div class="col-auto d-none d-lg-block"></div>
          </div>
         </div>
          {{/each}}
          <!-- END CARD -->
          <!-- SIDEBAR -->
          <div class="col-md-6">
            <div
              class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary"
              style="width: 380px; margin: 0 auto"
            >
              <div
                class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom"
              >
                <span class="fs-5 fw-semibold">Friends</span>
              </div>
              <div class="list-group list-group-flush border-bottom scrollarea">
                <!-- FRIEND -->
                {{#each friend}}
                <a
                  href={`/profile/${friend.username}`}
                  class="list-group-item list-group-item-action py-3 lh-sm"
                >
                  <div
                    class="d-flex w-100 align-items-center justify-content-between"
                  >
                    <strong class="mb-1">{{friend.username}}</strong>
                  </div>
                  <div class="col-10 mb-1 small"></div>
                </a>
                {{/each}}
                <!-- FRIEND -->
                
              </div>
            </div>
          </div>
          <!-- END SIDEBAR -->
        </div>
      </div>
    </div>